<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/">Sign Up for Classes</a></li>
        <li><a href="/records">Manage Records</a></li>
        <li><a href="/labs">Manage Labs</a></li>
        <li><a href="/auth">Authentication</a></li>
        <li><a href="/student/:userId" id="my-records">My Records</a></li>
        <li><span>Welcome, {{.Name}}</span></li>
    </ul>
</nav>