<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация о записи</title>
  <link rel="stylesheet" href="../static/css/styleRecords.css">
  <link rel="stylesheet" href="../static/css/styleNav.css" />
</head>
<body>
  {{template "partials/nav" .}}
  <main>

    <section class="record-details">
      <h2>Информация о записи</h2>

      <div class="record-info">
        <div class="info-item">
          <label for="date">Дата:</label>
          <span id="date"></span>
        </div>
        <div class="info-item">
          <label for="time">Время:</label>
          <span id="time"></span>
        </div>
        <div class="info-item">
          <label for="teacher">Преподаватель:</label>
          <span id="teacher"></span>
        </div>
      </div>

      <h3>Список студентов</h3>
      <div class="scrollable-table">
        <table id="studentsTable">
          <thead>
            <tr>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Группа</th>
              <th>Лабораторная работа</th>
            </tr>
          </thead>
          <tbody>
            </tbody>
        </table>
      </div>
    </section>
  </main>
  <script src="../static/js/recordInfo.js"></script>
</body>
</html>