<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записи на лабораторные работы</title>
    <link rel="stylesheet" href="static/styleRecords.css"/>
    <link rel="stylesheet" href="static/styleNav.css" />
</head>
<body>
    {{template "partials/nav" .}}
    <h1>Записи на лабораторные работы</h1>

    <form id="lab-form">
        <label for="lab-date">Дата</label>
        <input type="date" id="lab-date" name="lab-date" required><br>

        <label for="class-number">Пара</label>
        <input type="number" id="class-number" name="class-number" required><br>

        <label for="audience-number">Номер аудитории:</label>
        <input type="number" id="audience-number" name="audience-number" required><br>

        <label for="tutor">Преподаватель:</label>
        <input type="text" id="tutor" name="tutor" required><br>

        <input type="submit" value="Добавить запись">
    </form>
    <table class="scrollable" id="lab-table">
        <thead>
            <tr>
                <th>Дата занятия</th>
                <th>Номер пары</th>
                <th>Номер аудитории</th>
                <th>Преподаватель</th>
                <th>Подробнее</th>
                <th>Удаление</th>
            </tr>
        </thead>
        <tbody>
            <!-- Здесь будет динамически добавляться информация о записях -->
        </tbody>
    </table>
<script src="static/records.js"></script>
</body>
</html>