<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Запись на лабораторные работы</title>
  <link rel="stylesheet" href="/static/styleIndex.css" />
  <link rel="stylesheet" href="/static/styleNav.css" />
</head>
<body>
{{template "partials/nav" .}}
  <main>
    <section class="registration-form">
      <div class="form-group">
        <label for="discipline">Дисциплина:</label>
        <select id="discipline" name="discipline">
          <option value="сети-и-телекоммуникации">Сети и телекоммуникации</option>
          <option value="введение-в-направление">Введение в направление</option>
          </select>
      </div>
      <div class="form-group">
        <label for="lab-work">Лабораторная работа:</label>
        <select id="lab-work" name="lab-work">
          <option value="1.10.2">1.10.2</option>
          </select>
      </div>
      <div class="form-group">
        <label for="lab-date">Дата:</label>
        <select id="lab-date" name="lab-date">
          <option value="lab-date">Дата</option>
        </select>
      </div>
      <div class="form-group">
        <label for="class-number">Пара:</label>
        <select id="class-number" name="class-number">
          <option value="class-number">Пара:</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="learning-center">Учебный центр:</label>
        <select id="learning-center" name="learning-center">
          <option value="учебный-центр">Учебный центр</option>
          </select>
      </div> -->
      <!-- <div class="form-group">
        <label for="auditorium">Аудитория:</label>
        <select id="auditorium" name="auditorium">
          <option value="аудитория">Аудитория</option>
          </select>
      </div> -->
      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" name="description"></textarea>
      </div>
      <button type="submit">Записаться</button>
    </section>
  </main>
  <script src="/static/app.js"></script>
</body>
</html>