
table {
  display: table;
  width: 95%;
  margin: 10px;
  border-collapse: collapse;
  height: 20px;
  overflow-y: auto;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
}
form {
    margin-top: 20px;
}
input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button.delete {
  background-color: #fe880b; /*  Красный цвет */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button.delete:hover{
  background-color: #ff0000;
}

body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registration-form {
  background-color: #282828;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #383838;
  color: #fff;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: vertical;
}
