<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записи на лабораторные работы</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/styleNav.css" />
</head>
<body>
    {{template "partials/nav" .}}
    

    <form id="lab-form" class="registration-form">
        <label for="subject-name">Предмет</label>
        <input type="text" id="subject-name" name="subject-name" required><br>

        <label for="lab-number">Номер лабораторной</label>
        <input type="text" id="lab-number" name="lab-number" required><br>

        <label for="lab-description">Описание</label>
        <input type="text" id="lab-description" name="lab-description" required><br>

        <label for="routers-required">Количество роутеров</label>
        <input type="number" id="routers-required" name="routers-required" required><br>

        <label for="switches-required">Количество коммутаторов</label>
        <input type="number" id="switches-required" name="switches-required" required><br>

        <input type="submit" value="Добавить запись">
    </form>
    <table class="scrollable" id="lab-table">
        <thead>
            <tr>
                <th>Название предмета</th>
                <th>Номер лабы</th>
                <th>Описание</th>
                <th>Количество роутеров</th>
                <th>Количество коммутаторов</th>
                <th>Удаление</th>
            </tr>
        </thead>
        <tbody>
            <!-- Здесь будет динамически добавляться информация о записях -->
        </tbody>
    </table>
<script src="../static/js/labs.js"></script>
</body>
</html>